@tailwind base;

/* base colors */
@layer base {
  :root {
    --zerithium-color-theme: #000;
    --zerithium-color-theme-non-opaque: #fff;
    --zerithium-color-theme-light: #000;

    --zerithium-color-info: #007aff;
    --zerithium-color-info-non-opaque: rgba(0, 122, 255, 0.12);
    --zerithium-color-warning: rgba(254, 192, 29);
    --zerithium-color-warning-non-opaque: rgba(254, 192, 29, 0.2);
    --zerithium-color-error: #e0382d;
    --zerithium-color-error-non-opaque: rgba(224, 56, 45, 0.08);
    --zerithium-color-success: #33b84e;

    --zerithium-bg-primary: #fff;
    --zerithium-bg-secondary: #1a1a1a;
    --zerithium-bg-e-primary: #f1f2f6;
    --zerithium-bg-e-secondary: #7e7e7e;

    --zerithium-fill-primary: #f5f7fd;
    --zerithium-fill-e-primary: #e5e7ed;
    --zerithium-fill-secondary: #f1f2f6;
    --zerithium-fill-e-secondary: #f9f9f9;
    --zerithium-fill-niubi: rgb(228, 228, 231, 0.4);
    --zerithium-fill-niubi2: rgb(228, 228, 231, 0.6);
    --zerithium-fill-niubi3: rgb(228, 228, 231, 0.8);
    --zerithium-fill-niubi4: #fff;

    --zerithium-separator-opaque: #f3f3f5;
    --zerithium-separator-non-opaque: rgba(126, 126, 143, 0.12);
    --zerithium-tabindex: #4d4d66;

    --zerithium-overlay: rgba(0, 0, 0, 0.4);
    --zerithium-toast: rgba(62, 62, 82, 0.92);

    --zerithium-tc-primary: #17191f;
    --zerithium-tc-secondary: #7e7e7e;
    --zerithium-tc-tertiary: #a3abc2;
    --zerithium-tc-theme: #eb54e6;
    --zerithium-tc-on-button: #ffffff;
    --zerithium-line-primary: #e5e7ed;
    --zerithium-line-primary2: #ffffff;


    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  [data-theme='dark'] {
    --zerithium-color-theme: #fff;
    --zerithium-color-theme-non-opaque: rgba(0, 0, 0, 0.2);
    --zerithium-color-theme-light: #fff;

    --zerithium-color-info: #0a84ff;
    --zerithium-color-info-non-opaque: rgba(10, 132, 255, 0.12);
    --zerithium-color-warning: rgba(254, 192, 29);
    --zerithium-color-warning-non-opaque: rgba(254, 192, 29, 0.2);
    --zerithium-color-error: #f54f45;
    --zerithium-color-error-non-opaque: rgba(245, 79, 69, 0.08);
    --zerithium-color-success: #39cc56;

    --zerithium-bg-primary: #131313;
    --zerithium-bg-secondary: #ffffff;
    --zerithium-bg-e-primary: #2c2c2c;
    --zerithium-bg-e-secondary: #7e7e7e;

    --zerithium-fill-primary: #7e7e7e;
    --zerithium-fill-e-primary: #2c2c2c;
    --zerithium-fill-secondary: #2c2c2c;
    --zerithium-fill-e-secondary: #131313;
    --zerithium-fill-niubi: #1a1a1a;
    --zerithium-fill-niubi2: rgba(10, 10, 10, 1);
    --zerithium-fill-niubi3: rgba(44, 44, 44, 1);
    --zerithium-fill-niubi4: rgba(44, 44, 44, 1);

    --zerithium-separator-opaque: #2a2a3d;
    --zerithium-separator-non-opaque: rgba(126, 126, 143, 0.24);
    --zerithium-tabindex: #4d4d66;

    --zerithium-overlay: rgba(0, 0, 0, 0.6);
    --zerithium-toast: rgba(62, 62, 82, 0.92);

    --zerithium-tc-primary: #ffffff;
    --zerithium-tc-secondary: #898da3;
    --zerithium-tc-tertiary: #676a7a;
    --zerithium-tc-theme: #eb54e6;
    --zerithium-tc-on-button: #ffffff;
    --zerithium-line-primary: rgba(44, 44, 44, 1);
    --zerithium-line-primary2: #1a1a1a;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* base sizes */
@layer base {
  :root {
    --zerithium-sapcing-sm: 0.25rem;
    --zerithium-sapcing-md: 0.5rem;
    --zerithium-sapcing-lg: 0.75rem;
    --zerithium-sapcing-xl: 1rem;
    --zerithium-sapcing-2xl: 1.5rem;

    --zerithium-radius-sm: 0.25rem;
    --zerithium-radius-md: 0.5rem;
    --zerithium-radius-lg: 0.75rem;
    --zerithium-radius-xl: 1rem;
    --zerithium-radius-2xl: 1.5rem;
    --zerithium-radius-full: 50%;

    --zerithium-shadow-sm: 0px 2px 0px 0px rgba(55, 59, 82, 0.04);
    --zerithium-shadow-md: 0 0 2px 0 rgba(55, 59, 82, 0.04),
      0 2px 16px 0 rgba(55, 59, 82, 0.08);
    --zerithium-shadow-lg: 0 0 2px 0 rgba(55, 59, 82, 0.04),
      0 4px 24px 0 rgba(55, 59, 82, 0.12);
    --zerithium-shadow-xl: 0 1 2px 0 rgba(55, 59, 82, 0.8),
      0 8px 24px 0 rgba(55, 59, 82, 0.16);
    --zerithium-shadow-xxl: 0px 8px 32px 0px rgba(55, 59, 82, 0.24),
      0px 1px 2px 0px rgba(55, 59, 82, 0.08);
  }
}